# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the chipotle dataset

### Step 3. Assign it to a variable called chipo.

In [24]:
chipo = pd.read_csv("chipotle.tsv", sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [41]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
products_over_10 = chipo[chipo['item_price'] > 10.00]
products_over_10['item_price'].count()

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/var/folders/pt/zgtb7c150ns_h500ywnp4hdw0000gn/T/ipykernel_46028/3699672229.py:1: SyntaxWarning: invalid escape sequence '\$'
  chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

4       16.98
5       10.98
7       11.75
13      11.25
23      10.98
        ...
4610    11.75
4611    11.25
4617    11.75
4618    11.75
4619    11.25
Name: item_price, Length: 1130, dtype: float64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [28]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [31]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price
1140,471,1,Bottled Water,NaN,1.09
821,338,1,Canned Soda,[Coca Cola],1.09
3926,1575,1,Canned Soda,[Dr. Pepper],1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
...,...,...,...,...,...
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 7. What was the quantity of the most expensive item ordered?

In [69]:
chipo.sort_values('item_price').tail(1).item_price

3598    44.25
Name: item_price, dtype: float64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [71]:
veggie_salad_bowl = chipo[chipo['item_name'] == "Veggie Salad Bowl"]
veggie_salad_bowl['item_name'].count()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [76]:
cannad_soda = chipo[chipo['item_name'] == "Canned Soda"]
# cannad_soda
cannad_soda_quant = cannad_soda[cannad_soda['quantity'] > 1]
cannad_soda_quant['quantity'].count()

np.int64(20)