# Ex2 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.shape[0]  # entries <= 4622 observations

4622

In [5]:
# Solution 2

int(chipo['order_id'].count())

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
# Solution 1
chipo.shape[1]

5

In [6]:
# Solution 2
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [8]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [16]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.reset_index().item_name.head(1)

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [18]:
orders = chipo.groupby('item_name')['quantity'].sum().max()
print(orders)

761

### Step 11. What was the most ordered item in the choice_description column?

In [24]:
most_ordered_choice = chipo['choice_description'].value_counts().sort_values(ascending=False).head(1)
most_ordered_choice

choice_description
[Diet Coke]    134
Name: count, dtype: int64

### Step 12. How many items were ordered in total?

In [10]:
total_items_orders = chipo.quantity.sum()
total_items_orders

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [25]:
chipo['item_price'].dtype

dtype('O')

In [26]:
print(type(chipo['item_price'].iloc[0]))

<class 'str'>

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
dollarizer = lambda x: float(x.replace('$', ''))
chipo.item_price = chipo['item_price'].apply(dollarizer)

#### Step 13.c. Check the item price type

In [30]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [33]:
orders = chipo.order_id.value_counts().count()
print(orders)

1834

### Step 16. What is the average revenue amount per order?

In [38]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity']

print(round(chipo['revenue'].mean(), 3))

8.489

### Step 17. How many different items are sold?

In [39]:
chipo['item_name'].unique().size

50